@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('nav.css');
@import url('footer.css');
@import url('hero.css');
@import url('services.css');
@import url('projects.css');
@import url('about.css');

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}