@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Preload styles */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

body.loaded {
    opacity: 1;
}

#navigation-bar {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

#navigation-bar.loaded {
    visibility: visible;
    opacity: 1;
}
