@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Preload styles */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

body.loaded {
    opacity: 1;
}

#navigation-bar {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

#navigation-bar.loaded {
    visibility: visible;
    opacity: 1;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Base font size for mobile */
        margin-top: 60px; /* Adjust for fixed navbar */
    }

    body.loaded {
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }

    #navigation-bar {
        margin-top: -60px; /* Adjust navbar positioning */
    }

    #navigation-bar.loaded {
        transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
    }
}

/* Extra Small Devices */
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
        margin-top: 50px;
    }

    #navigation-bar {
        margin-top: -50px;
    }
}
