nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; 
    top: 0;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    
}

.nav-left {
    display: flex;
    align-items: center;

}

.nav-left p{
    font-size: 0.8em;
    color: #666;
    margin: 0;
}
.nav-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-left .logo {
    max-width: 70px;
    margin-right: 1em;
}

.nav-left h1 {
    color: #000;
    font-size: 1.9em;
    margin: 0;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

.nav-links {
    font-size: 1.2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 1em;
}

.nav-links li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    padding-bottom: 0.5em;
}

.nav-links li a:hover {
    color: #4CAF50;
    transform: scale(1.1); 
}

.nav-links li a.active::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    background-color: #4CAF50;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-links li a.active::after {
    width: 100%;
    left: 0;
}

.nav-right {
    display: flex;
    align-items: center;
    flex-shrink: 0; 
}