nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; 
    top: 0;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-left .logo {
    max-width: 70px;
    margin-right: 1em;
}

.nav-left h1 {
    color: #000;
    font-size: 2em;
    margin: 0;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

.nav-links {
    font-size: 1.2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 1em;
}

.nav-links li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links li a:hover {
    color: #4CAF50;
    transform: scale(1.1); /* Pop-out effect */
}

.nav-right {
    display: flex;
    align-items: center;
    flex-shrink: 0; 
}

.nav-right input[type="text"] {
    padding: 0.75em; 
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-right: 0.5em;
    transition: border-color 0.3s ease;
    max-width: 400px; 
    width: 100%;
    box-sizing: border-box;
    font-size: 1em; 
}

.nav-right input[type="text"]:focus {
    border-color: #4CAF50;
}

.nav-right button {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: #fff;
    padding: 0.75em 1.5em; 
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    font-size: 1em;
}

.nav-right button:hover {
    background-color: #388E3C;
    border-color: #388E3C;
    transform: scale(1.04);
}