<nav>
    <a href="index.html">
        <div class="nav-left">
            <img src="Images/Logo/Sumacom_Logo.png" alt="Sumacom Logo" class="logo">
            <div class="title">
                <h1>Sumacom</h1>
                <p>Consultancy Pvt. Ltd.</p>
            </div>
        </div>
    </a>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="awards.html">Awards</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
</nav>